.container {
  display: table-cell;
  vertical-align: middle;
}

.base {
  margin-left: 25%;
  margin-top: 5%;
  background-color: #e0ff4f;
  position: absolute;
  padding: 10px;
  border-radius: 2%;
}
h1 {
  text-align: center;
  color: #0b3954;
}

.numbers {
  max-width: 66%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #e0ff4f;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 10px;
}
.bodmas {
  max-width: 33%;
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #e0ff4f;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 5px;
}

.input {
  margin: auto;
  max-width: 95%;
  text-align: right;
  background-color: grey;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.clearButt{
  max-width: 10%;
  max-height: 10%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e0ff4f;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 5px;
}

button {
  background-color: #ff6663;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}
